#howtoplay {
  border: none;
  background-color: transparent;
  outline: none;
}

#howtoplay:hover {
  color: gray !important;
  border: none;
}

.modal-title {
  color: black;
}

.modal-body {
  color: black;
}