:root {
	--team-neutral: white;
	--team-blue: #0d6efd;
	--team-red: #dc3545;
	--team-green: #198754;
	--team-orange: #ffc107; 
	--team-black: black;
}

.roundedBorder {
	border-radius: 8px
}

.teamborder {
	border-style: solid;
	border-width: thin;
}

.teamunknown {
	border-color: black;
}
.teamblue {
	border-color: var(--team-blue);
}
.teamred {
	border-color: var(--team-red);
}
.teamgreen {
	border-color: var(--team-green);
}
.teamorange {
	border-color: var(--team-orange);
}
.teamneutral {
	border-color: black;
}
.teamblack {
	border-color: white;
	background-color: black;
}

.turnedteamblue {
	border-color: black;
	background-color: var(--team-blue);
}
.turnedteamred {
	border-color: black;
	background-color: var(--team-red);
}
.turnedteamgreen {
	border-color: black;
	background-color: var(--team-green);
}
.turnedteamorange {
	border-color: black;
	background-color: var(--team-orange);
}
.turnedteamneutral {
	border-color: black;
	background-color: white;
	color:black;
}
.turnedteamblack {
	border-color: black;
	background-color: black;
}

.wordborder {
	border-style: solid;
	border-width: medium;
}
.dashedborder {
	border-style: dashed !important;
	border-width: medium !important;
}