{% extends "base.html" %}
{% block title %}Impressum{% endblock %}
{% block link%}
<link rel="stylesheet" href="{{url_for('static', filename='css/impressum.css')}}">
{% endblock %}
{% block script%}
<script src="{{url_for('static', filename='js/impressum.js')}}"></script>
{% endblock %}
{% block content %}

<div class="d-flex h-100">
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main" style="margin-top: 3%;">
                <div class="blog-post">
                    <h1 class="blog-post-title">Impressum</h1>
                    <p style="margin-top: 5%;"><b>Friesenjungs SE</b><br>Am Deich 1<br>26969 Butjadingen<br>Germany</p>
                    <p style="margin-top: 5%;"><b>Contact</b><br><i class="bi bi-telephone-fill me-1"></i>1234567890<br><i class="bi bi-printer-fill me-1"></i>0987654321<br><i class="bi bi-envelope-fill me-1"></i>contact@friesenjungs.com</p>
                    <p style="margin-top: 5%;"><b>CEO</b><br>Toboli Globoli</p>
                    <p style="margin-top: 5%;">Friesenjungs SE is a company incorporated and registered under European law.<br>Registration number: 42069</p>
                    <p style="margin-top: 5%;">Sales-Tax-ID-No.: GE6942069N</p>
                    <p style="margin-top: 5%;">Kodenavne is an online multiplayer game where up to four teams compete to be the first to guess all the correct words.</p>
                </div>
            </div>
        </div>
    </main>
</div>

{% endblock %}