{% extends "base.html" %}
{% block title %}Webeng Project{% endblock %}
{% block link%}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}
{% block script%}
<script src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}
{% block content %}

<div class="d-flex mt-auto mb-auto">
    <div class="container text-center w-50" style="border-radius: 10px">
        <h1 class="mb-3">Kodenavne</h1>

        <form>
            <div class="row row-cols-lg-auto justify-content-md-center">
                <div class="col-sm">
                    <input id="idCodeInput" class="form-control" name="code" type="text" minlength="6" maxlength="6"
                        placeholder="Enter Code!" oninvalid="this.setCustomValidity('Enter six-digit room code!')"
                        oninput="this.setCustomValidity('')">
                </div>
    
                <div class="col-sm">
                    <button id="idJoinRoomBtn" class="btn btn-primary" type="submit">Join</button>
                </div>
            </div>
        </form>

        <h3 class="mb-3">or</h3>
        
        <form class="text-dark" method="post" action="/room/create">
            <button id="idCreateRoomBtn" type="submit" class="btn btn-primary mb-3">Create Room</button>
        </form>
        
    </div>
</div>

{% endblock %}