{% extends "base.html" %}
{% block title %}Webeng Project{% endblock %}
{% block link%}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}
{% block script%}
<script src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}
{% block content %}

<div class="d-flex mt-auto mb-auto">
	<div class="text-center cover-container d-flex w-50 h-100 p-3 mx-auto flex-column">
		<main class="px-3">
			<h1>Kodenavne</h1>
			<p class="lead">
				Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
				dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
				clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
			</p>
			<p class="lead">
				<a href="/room/create" class="btn btn-lg btn-primary fw-bold">Create Room</a>
			</p>
		</main>
	</div>
</div>

{% endblock %}